<div class="form">
  <%= form_with(model: @ticket, local: true) do |form| %>

    <% if @ticket.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@ticket.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :client_id %><br />
    <%= form.text_field :client_name, data: {autocomplete_source: Enterprise.order(:name).map(&:name)} %>
    <%= form.label :category_id %><br />
    <%= form.collection_select(:category_id, Category.all, :id, :name, include_blank: true) %>
    <%= form.label :product_id %><br />
    <%= form.grouped_collection_select(:product_id, Category.all, :products, :name, :id, :name, include_blank: true) %>
    <%= form.label :carrier_id %><br />
    <%= form.text_field :carrier_name, data: {autocomplete_source: Enterprise.order(:name).map(&:name)} %>
    <%= form.label :trucker_id %><br />
    <%= form.text_field :trucker_name, data: {autocomplete_source: Trucker.order(:last_name).map(&:full_name)} %>
    
    <%= form.submit %>

  <% end %>
</div>
