<header>
  <h2>Listado de Tickets</h2>
</header>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Producto</th>
      <th>Transporte</th>
      <th>Chofer</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |t| %>
      <tr>
        <td><%= link_to t.id, enterprise_path(t.id) %></td>
        <td><%= t.client.name %></td>
        <td><%= t.product.name %></td>
        <td><%= t.carrier.name %></td>
        <td><%= t.trucker.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to 'Agregar', new_ticket_path, class:'btn btn-default' %>
</div>
