<div class="form">
  <%= form_with(model: @trucker, local: true) do |form| %>

    <% if @trucker.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@trucker.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @trucker.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>

    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>

    <%= form.label :document %><br>
    <%= form.text_field :document %>

    <%= form.label :expiration %><br>
    <%= form.date_field :carnet_expiration_date %>

    <%= form.submit %>

  <% end %>
</div>
