<h1>Detalles del Camionero</h1>
<div>
  <p><b>Nombre:</b> <%= @trucker.full_name %></p>
  <p><b>Documento: </b> <%= @trucker.document %></p>
  <p><b>Vigencia: </b> <%= @trucker.carnet_expiration_date.strftime('%d/%m/%Y') %></p>
</div>
<div>
  <%= link_to "Volver", truckers_path %><br />
  <%= link_to "Editar", edit_trucker_path(@trucker) %>
  <%= link_to "Borrar", trucker_path(@trucker),
      method: :delete,
      data: {confirm: "¿Esta seguro?" } %>
</div>
