<div class="form">
  <%= form_with(model: @enterprise, local: true) do |form| %>

    <% if @enterprise.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@enterprise.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @enterprise.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :name %><br>
    <%= form.text_field :name %>

    <%= form.label :cuit_number %><br>
    <%= form.text_field :cuit_number %>

    <%= form.fields_for :address, Address.new do |form| %>
      <%= form.label :street %><br>
      <%= form.text_field :street %>

      <%= form.label :city %><br>
      <%= form.text_field :city %>

      <%= form.label :state %><br>
      <%= form.text_field :state %>

      <%= form.label :postal_code %><br>
      <%= form.text_field :postal_code %>
    <% end %>

    <%= form.submit %>

  <% end %>
</div>
