<header>
  <h2>Detalles del Empresa</h2>
</header>

<ul class="enterprise-detail">
  <li><b>Nombre:</b> <%= @enterprise.name %></li>
  <li><b>Cuit: </b> <%= @enterprise.cuit_number %></li>
  <li><b>Calle: </b> <%= @enterprise.address.street %></li>
  <li><b>Ciudad: </b> <%= @enterprise.address.city %></li>
  <li><b>Provincia: </b> <%= @enterprise.address.state %></li>
  <li><b>Código Postal: </b> <%= @enterprise.address.postal_code %></li> 
</ul>
<div class="links">
  <%= link_to "Volver", enterprises_path, class:'btn btn-default' %>
  <%= link_to "Editar", edit_enterprise_path(@enterprise), class:'btn btn-default' %>
  <%= link_to "Borrar", enterprise_path(@enterprise),
      method: :delete,
      data: {confirm: "¿Esta seguro?" }, class:'btn btn-danger' %>
</div>
