<header>
  <h2>Detalles del Producto</h2>
</header>

<ul class="trucker-detail">
  <li><b>Categoria:</b> <%= @product.category.name %></li>
  <li><b>Nombre: </b> <%= @product.name %></li>  
</ul>
<div class="links">
  <%= link_to "Volver", products_path, class:'btn btn-default' %>
  <%= link_to "Editar", edit_product_path(@product), class:'btn btn-default' %>
  <%= link_to "Borrar", product_path(@product),
      method: :delete,
      data: {confirm: "¿Esta seguro?" }, class:'btn btn-danger' %>
</div>
